body{
    margin: 0;
    padding: 0;
    font-family: 'montserrat'
}
header{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/capa\ header.jpg);
    background-position: center;
    background-size: cover;
    color:#fff;
    width: 100%;
    height: 115px;
}
#logomarca{
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;
    box-shadow: 0px 0px 10px 1px rgb(252, 251, 185);     
}

#txt-slogan i{
    color:yellow;
    font-size: 25px;
}
#txt-slogan{
    font-style: italic;
    margin-top: 40px;
    margin-top: 15px;
   
}
#box-slogan-mobile{
    display: none;
}

#list-nav{
    display: flex;
}
#list-nav li{
    margin: 20px;
    list-style-type: none;
   
}
#list-nav a{
    text-decoration: none;
    color: #fff;
    font-family: 'montserrat';
    font-weight: 500
}

.img-whatsapp{
    width: 60px;
    margin: 7px;
}
 #container-menu-toogle{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/foto\ capa.jpeg);
    height: 550px;
    flex-direction: column;
    background-size: cover; 
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-toogle{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-menu-toogle{
    width: 95%;
    height: 60px;
    font-family: 'montserrat';
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    background: #202123;
    outline: none;
    border: none;
    box-shadow: 1px 1px 10px 1px rgb(252, 251, 185);  
    opacity: 0.8;   
}
.btn-menu-toogle:hover{
    cursor: pointer;
    opacity: 1; 
}
#btn-whatsapp{
    background-color: #25d366;
    background-image: linear-gradient(180deg,#20cf60, #04702c );
    font-size: 22px;
    border:2px solid rgb(6, 158, 6);
    border-radius: 5px 5px 0px 0px;
}
#btn-sobrenos-borda{
    border-radius: 0px 0px 5px 5px;
}
.btn-menu-toogle #icone-instagram{
   font-size: 18px;
   background-image: linear-gradient(180deg,rgb(225, 48, 108), rgb(253, 36, 76) );
   border-radius: 5px;
   margin: 5px;
}
#list-btn{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#list-btn li{
    list-style-type: none;
}

/*Aqui inicia a animaçãoE*/
.carrocel {
    display: flex;
    overflow: hidden;
    width: 300px;
    height: 60px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'montserrat';
    color: #fff;
    margin-top: 30px;
    
  }
  
  .slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: none ;
    box-shadow: 1px 1px 10px 1px rgb(252, 251, 185);
    border-radius: 15px;
    
  }
  #txt-slide-nbr{
    font-size: 12px;
  }
  
  .slide.active {
    display: flex;
    animation: slideAnimation 5s infinite;
  }
  
  @keyframes slideAnimation {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    33.33% {
      opacity: 1;
    }
    53.33% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
/*Aqui encerra a animação*/


/*Aqui inicia o container de servicos*/
#container-servicos{
    height: auto;
    background: black;
    color: #fff;
    padding: 20px;
}
.box-servicos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(14, 14, 13);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 1px 1px 10px 5px rgb(252, 251, 185);         
}
.box-imgservicos01{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url(img/eletricista01.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.box-imgservicos02{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url(img/eletricista02.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.box-imgservicos03{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url(img/eletricista03.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.box-imgservicos04{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url(img/eletricista04.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.box-imgservicos05{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url(img/eletricista05.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.box-imgservicos06{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url(img/eletricista06.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}


.box-servicos h2{
    color: rgb(238, 219, 45);
    text-align: center;
    font-size: 20px;
    text-align: center;
    max-width: 20%;
}
.box-servicos p{
    color: #fff;
    font-weight: 500;
    max-width: 60%;
}
/*Aqui encerra o container de servicos*/

/*Aqui inicia o container de sobre nós*/
 #conteudo-sobrenos{
    margin: 10px;
    height: auto; 
    color: #f7f7f7;
    font-weight: 500;
}
#container-sobrenos{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(img/foto\ capa.jpeg);
    background-position: center;
    background-size: cover; 
    padding: 15px;
}
/*Aqui encerra o container de sobre nós*/

footer{
    height: auto;
    text-align: center;
    font-size: 13px;
    color: rgb(96, 245, 10);
    font-weight: 500;
    background: rgb(22, 22, 22);
    padding: 20px;   
}
footer #p-propaganda{
    color: #fff;
}
footer button{
    background: rgb(46, 197, 46);
    color: #fff;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: 'montserrat';
    font-weight: 600;
}
footer button:hover{
    cursor: pointer;

}

/*-------------------------------------------------Responsividade-------------------------------------------*/

@media  (max-width: 450px) {
    #nav-menu{
        display: none;
    }
   
    header{
       height: 90px;
    }

    #logomarca{
        width: 70px;
        border-radius: 50%;
        margin-left: 30px;
    }
    #box-slogan{
        display: none;
    }
    #box-slogan-mobile{
        display: block;
        color:#fff;
        font-size: 13px;
        margin-top: -30px;
    }
   
    #box-slogan-mobile i{
        font-size: 23px;
        color:rgb(241, 57, 10);
    }
    #container-menu-toogle{
        height: 600px;
       
       
    }
    #menu-toogle{ 
        margin-top: 30px; 
        width: 420px;
    }
    .btn-menu-toogle{
        opacity: none; 
        height: 70px;  
        font-size: 20px;
        width: 90%;
        
    }
    .carrocel {
        margin-top: 50px;   
      }

    .box-servicos{
        flex-direction: column;      
    }
    .box-servicos h2{
        color: rgb(238, 219, 45);
        text-align: center;
        font-size: 18px;
        text-align: center;
        max-width: 100%;
    }
    .box-servicos p{
        color: #fff;
        font-weight: 500;
        max-width: 100%;
    }
    #container-sobrenos{
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url(img/foto\ capa.jpeg);
        background-position: center;
        background-size: cover; 
        padding: 15px;
    }
    #conteudo-sobrenos h1{
        color: gold;
        font-size: 20px;
    }
    #txt-sobrenos{
        font-size: 18px;
    }
}








